.App-header {
  padding: 0 20px;
  background-color: #282c34;
  min-height: 60px;
  font-size: calc(10px + 2vmin);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.backBtn {
  margin-bottom: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
